/*******************************
            Global
*******************************/

html,
body {
  font-size: 15px;
  height: 100%;
}

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background: #FFFFFF;
  margin: 0px;
  padding: 0px;
  color: #555555;
  text-rendering: optimizeLegibility;
  min-width: 320px;
}

.ui.header {
  font-family: 'Source Sans Pro', "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

/*******************************
            Global
*******************************/

/*-------------------
        Grid
--------------------*/

#simpleTemplate .grid {
  height: 100%;
}

#simpleTemplate > .grid > .column {
  height: 100%;
}

#simpleTemplate .grid .ui.header {
  display: inline-block;
  padding-right: 1rem;
}

/*-------------------
       Table
--------------------*/

#simpleTemplate .pages {
  float: right;
  margin-top: 0.9em;
}

#simpleTemplate .left.column {
  padding: 1em 2em;
}

#simpleTemplate .left.column h2 {
  margin-top: 0em;
}

#simpleTemplate .ui.table tbody > tr {
  cursor: pointer;
}

#simpleTemplate .ui.table.sortable th.disabled {
    background-color: rgba(0, 0, 0, 0.05);
}

#simpleTemplate .ui.table td:not(:last-of-type) {
    border-right: 1px solid rgba(0, 0, 0, 0.05);
}

#simpleTemplate .ui.table td.actions.cell {
  padding-left: 0.3em;
  padding-right: 0.3em;
}

#simpleTemplate .ui.table td.actions.cell > div {
  text-align: center;
}

#simpleTemplate .ui.table td.actions.cell i.icon.heart {
  color: #ff0000;
}

/*******************************
           Sidebar
*******************************/

#simpleTemplate .sidebar {
  padding: 1em 2em;
  background-color: #FAFAFA;
}

#simpleTemplate .sidebar .header {
  text-align: center;
}

/*******************************
            Modal
*******************************/

/*rtl:ignore*/
#simpleTemplate .ui.details.modal {
  padding: 1em 2em;
  background-color: #FAFAFA;
}

#simpleTemplate .ui.details.modal > .header {
  padding: 0.5rem;
}

/*******************************
          Responsive
*******************************/

@media only screen and (max-width : 1250px) {
  /*rtl:ignore*/
  #simpleTemplate .left.column > .menu .item {
    font-size: 1rem;
  }
}
